<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://func-eventsnotifyer-dev.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/36fd3843-f200-408f-a432-9bd04c5af9be/resourceGroups/rg-EventsNotifyer-dev/providers/Microsoft.Web/sites/func-EventsNotifyer-dev</ResourceId>
    <UserName>$func-EventsNotifyer-dev</UserName>
    <_SavePWD>true</_SavePWD>
    <IsLinux>true</IsLinux>
    <PublishUrl>https://func-eventsnotifyer-dev.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>